DATABASE_URL=postgresql://user:my-secret-pw@localhost:5432/db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postpassgres
POSTGRES_DB=db
POSTGRES_PORT=5432
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
APIFY_TOKEN=