<!DOCTYPE html>
  <html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
  </head>
  <body>
    <div class="container">
      <h1>Bonjour <%= name %></h1>      <p>Vous pouvez récupérer votre mot de passe pour vous connecter à SKELETON NESTJS en cliquant sur le lien suivant : </p><a href="<%= forgotPasswordUrl %>" >Réinitialiser le mot de passe</a>
      <p>Si vous n'êtes pas à l'origine de la demande de réinitialisation du mot de passe, ignorez simplement cet email.</p>
      <p>L'équipe SKELETON NESTJS</p>
      <a href="https://dev-id.fr/">Accédez à SKELETON NESTJS</a>
    </div>
  </body>
  <style>
    html, body {
      margin: 0;
      background-color: white;
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
    }
    a {
      color: rgba(1, 56, 82, 0.87)
    }
    p {
      text-align: justify;
    }
    .container {
      margin: 0 auto;
      width: 60%;
    }
    .sender {
      font-size: .9rem;
      font-weight: 200;
    }
  </style>
  </html>
